{% extends "base.html" %}

{% block page_title %} homepage {% endblock page_title %}

{% block content %}

    <div class="container">
        <div class="row">
            <a href="{% url "homepage" %}" class="btn btn-secondary col-3">All categories</a>
            <a href="{% url "homepage" %}?category=phone" class="btn btn-secondary col-3">Phones</a>
            <a href="{% url "homepage" %}?category=tablet" class="btn btn-secondary col-3">Tablets</a>
            <a href="{% url "homepage" %}?category=laptop" class="btn btn-secondary col-3">Laptops</a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% for product in products %}
                <div class="card mx-auto mt-5" style="width: 18rem;">
                    <img src="https://via.placeholder.com/150" class="bd-placeholder-img card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <p class="card-text"><strong>Price:</strong> {{ product.price|floatformat:2 }} ,- CZK</p>
                        <p class="card-text"><strong>Released at:</strong> {{ product.release_date|date:"d.m. Y" }}</p>
                        <p class="card-text">{{ product.description }}</p>
                        <a href="{% url "add_to_cart" product.pk %}" class="btn btn-primary">Add to cart</a>
                        <a href="{% url "list_product_review" product.pk %}" class="btn btn-success">Reviews</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <p class="mt-5">count: {{ products.count }}</p>
{% endblock content %}